---
Language:        Cpp
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignOperands:   Align
ColumnLimit:     120
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth:     4
...

